{% extends "anigesser/layout.html" %}

{% block title %}Правообладателям{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mb-4">
        Правообладателям
    </h1>
    <p>
        По любым вопросам обращайтесь:
        <a class="link-telegram text-decoration-none" href="https://t.me/rorymer"
           data-bs-toggle="tooltip" data-bs-title="@rorymer">telegram</a>,
        <span class="link-discord" data-bs-toggle="tooltip" data-bs-title="thngs">discord</span>
    </p>
</div>
{% endblock %}