{% extends "anigesser/layout.html" %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<div class="container text-center">
    <h1 class="mb-4">
        Регистрация
    </h1>
    {% if error %}
        <div class="alert alert-danger mb-4 mx-auto w-fit-content">{{ error }}</div>
    {% endif %}
    <form method="POST" action="{% url 'anigesser:register' %}">
        {% csrf_token %}
        <div class="input-group mb-3">
            <span class="input-group-text" id="username-addon">Имя пользователя</span>
            <input type="text" name="username" class="form-control input-pink" maxlength="150" aria-describedby="username-addon" required>
        </div>
        <div class="input-group mb-3">
            <span class="input-group-text" id="email-addon">Эл. почта</span>
            <input type="email" name="email" class="form-control input-pink" maxlength="150" aria-describedby="email-addon" required>
        </div>
        <div class="mb-3">
            <div class="input-group">
                <span class="input-group-text" id="password-addon1">Пароль</span>
                <input type="password" name="password" class="form-control input-pink" minlength="8" maxlength="150" aria-describedby="password-addon1 password-addon2" required>
            </div>
            <div class="form-text" id="password-addon2">От 8 символов, может содержать любые символы.</div>
        </div>
        <input class="btn btn-pink mt-3" type="submit" value="Регистрация">
    </form>
    <p class="mt-1">Уже есть аккаунт? <a class="link-pink text-decoration-none" href="{% url 'anigesser:login' %}">Войти</a></p>
</div>
{% endblock %}